<!-- Andrey -->
<main>
  <div class="container">
    <h2 class="about-title">About us</h2>
    <h3 class="about-subtitle">
      Our сraftsmanship: сreating unique handmade furniture
    </h3>
    <p class="about-subtitle-text">
      Discover the inspiration behind our modern and minimalist designs, and see
      how we bring them to life through our skilled craftsmanship.
    </p>
    <ul class="about-list list">
      <li class="about-item">
        <span class="about-spn-text">5+</span>
        <p class="about-item-text">
          Years of experience creating handcrafted furniture
        </p>
      </li>
      <li class="about-item">
        <span class="about-spn-text">100%</span>
        <p class="about-item-text">
          Sustainably sourced materials used in all of our furniture
        </p>
      </li>
      <li class="about-item">
        <span class="about-spn-text">500+</span>
        <p class="about-item-text">
          Unique furniture designs crafted by our skilled artisans
        </p>
      </li>
    </ul>
    <img
      srcset="./img/about-mob.jpg 1x, ./img/about-mob-2x.jpg 2x"
      src="./img/about-mob.jpg"
      alt="Sofa and pillow"
      class="about-img"
      width="360"
    />
  </div>
</main>
