<!-- Andrey -->

<main>
  <h2 class="visually-hidden">Price</h2>
  <div class="container-price-list">
    <ul class="price-list list">
      <div class="price-container-spn">
        <li class="price-item">
          <p class="price-item-text price-for-line">Chairs</p>
          <span class="price-spn">from 200₴</span>
        </li>
      </div>
      <div class="price-container-spn">
        <li class="price-item">
          <p class="price-item-text">Tables</p>
          <span class="price-spn">from 250₴</span>
        </li>
      </div>
      <div class="price-container-spn">
        <li class="price-item">
          <p class="price-item-text">Dressers</p>
          <span class="price-spn">from 300₴</span>
        </li>
      </div>
      <div class="price-container-spn">
        <li class="price-item">
          <p class="price-item-text">Sofas</p>
          <span class="price-spn">from 500₴</span>
        </li>
      </div>
    </ul>
  </div>
</main>
