<!-- Andrey -->
<main>
  <div class="container">
    <h3 class="visually-hidden">Chairs Tables Dressers Sofas Price</h3>
    <div class="container-price-list">
      <ul class="price-list">
        <li class="price-item">
          <div class="price-container-spn">
            <p class="price-item-text price-for-line">Chairs</p>
            <span class="price-spn">from 200₴</span>
          </div>
        </li>
        <li class="price-item">
          <div class="price-container-spn">
            <p class="price-item-text">Tables</p>
            <span class="price-spn">from 250₴</span>
          </div>
        </li>
        <li class="price-item">
          <div class="price-container-spn">
            <p class="price-item-text">Dressers</p>
            <span class="price-spn">from 300₴</span>
          </div>
        </li>
        <li class="price-item">
          <div class="price-container-spn">
            <p class="price-item-text">Sofas</p>
            <span class="price-spn">from 500₴</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>
